<p><strong>Козловы (рассказывает - Козлова Галина Ефимовна)</strong></p>
<p><strong><em>&nbsp;</em></strong></p>
<p>Вера Шевцова была дочерью Андрея и Матрены (Марфы). Она &ndash; мать Козлова Владимира Алексеевича. Его отец &ndash; Козлов Алексей Иванович.</p>
<p>Родителями Алексея Ивановича был Козлов Иван Андреевич и его жена Татьяна Петровна (1874-1947). Козлов Иван Андреевич был одним из первых автомобилистов в России. У нас хранится свидетельство, что он имеет право водить автомобили. У этой пары было трое детей Любовь, Зинаида и Алексей.</p>
<p>Алексей Козлов женился на Вере Шевцовой, и они родили троих детей: Вячеслава, Виталия и Владимира (нашего дедушку). Позже они разошлись. Вера родила вне брака еще дочь &ndash; Валентину.</p>